
<!-- link from google fonts -->
<link href="https://fonts.googleapis.com/css?family=Kirang+Haerang|Permanent+Marker" rel="stylesheet">

<div class = "bg-dark container-fluid">
        <div class = "py-3 row">
<app-nav></app-nav>
        </div>
<!-- <app-header></app-header> -->
<!-- <app-modal>     </app-modal> -->
<!-- <app-bootstrap-test></app-bootstrap-test> -->

<div class = "py-5 container-fluid">
                <app-carousel></app-carousel>
</div>


<div class="py-3 container">
        <!--<img src = "../../../assets/images/moviereel.png">-->
        <!-- <app-genre-filter></app-genre-filter> -->
        <!-- <app-new-movie></app-new-movie> -->
        <!-- <app-movie-list></app-movie-list> -->
</div>

<app-card></app-card>



<!-- <app-movie-list></app-movie-list> // replaced by router-outlet -->
<router-outlet></router-outlet>
<app-footer></app-footer>
</div>

<!-- // hallo -->




