<h2>Welcome admin</h2><p></p>
<ul>
    <B>
        <td width="40px">Id </td>
        <td width="250px">Name </td>
        <td width="250px">Url </td>
        <td width="250px">Genre</td>
        <td width="300px">Description</td>
        <td width="300px">Image Url</td>

      </B>
      

  <li *ngFor="let movie of movies|sort; let i = index">
    <tr>
        <a (click)="edit(movie)">
          <td width="40px">{{movie.id}} </td>

          <td width="250px"> 
          <span *ngIf="movie!==editMovie">{{movie.name}}</span>
          <input *ngIf="movie===editMovie" [(ngModel)]="movie.name" (blur)="update()" (keyup.enter)="update()"></td>

          <td width="250px">
          <span *ngIf="movie!==editMovie">{{movie.url}}</span>
          <input *ngIf="movie===editMovie" [(ngModel)]="movie.url" (blur)="update()" (keyup.enter)="update()"> </td>

          <td width="250px">
          <span *ngIf="movie!==editMovie">{{movie.genre}}</span>

          <select *ngIf="movie===editMovie" [(ngModel)]="movie.genre" (blur)="update()" (keyup.enter)="update()">
            <option *ngFor="let genre of genres | enumSelect" [value]="genre.key">{{genre.value}}</option>
          </select></td>

          <td width="300px">
          <span *ngIf="movie!==editMovie">{{movie.description}}</span>
          <input *ngIf="movie===editMovie" [(ngModel)]="movie.description" (blur)="update()" (keyup.enter)="update()"></td>

          <td width="300px">
          <span *ngIf="movie!==editMovie">{{movie.imageUrl}}</span>
          <input *ngIf="movie===editMovie" [(ngModel)]="movie.imageUrl" (blur)="update()" (keyup.enter)="update()"></td>
    
        </a>
    
      <td width="20px"><button class="delete" title="delete movie"
        (click)="delete(movie)">x</button>
    </td>
    </tr>
  </li>
</ul>

<h4>Add Movies</h4><p></p>
<!-- <div>
  <tr>
    <label><b>
    <td width="250px">Name: <input #movieName /></td>
    <td width="230px">Url: <input #movieUrl /></td>
    <td width="200px">Genre: <select #movieGenre><option *ngFor="let genre of genres | enumSelect" [value]="genre.key">{{genre.value}}</option></select></td>
    <td width="300px">Description: <input #movieDescription /></td>
    <td width="300px">Image url: <input #movieImgUrl /></td>
    <td width="15px"><button (click)="add(movieName.value, movieUrl.value, movieGenre.value, movieDescription.value, movieImgUrl.value) ; movieName.value=''; movieUrl.value=''; movieGenre.value=''; movieDescription.value=''; movieImgUrl.value=''">
          add
    </button></td></b>
    </label>
  </tr>
</div> -->



<div>

  <form [formGroup]='movieForm' (ngSubmit)="add()">
<!-- <label>Title: </label> -->
<td width="50px"></td>
<td width="200px">
    <span *ngIf="isFieldValid('name')" style="color:red">*Title is mandatory</span>
    <input formControlName="name" placeholder="Title" /></td>
  
  <td width="200px">
    <span *ngIf="isFieldValid('url')" style="color:red">*Url is mandatory</span>
  <input formControlName="url" placeholder="Url"/></td>

  <td width="200px">
      <span *ngIf="isFieldValid('genre')" style="color:red">*Genre is mandatory</span>
    <select required formControlName="genre" (blur)="update()" (keyup.enter)="update()">
        <option value="" disabled selected hidden>Genre</option>
        <option *ngFor="let genre of genres | enumSelect" [value]="genre.key" >{{genre.value}}</option>
      </select></td>

  <td width="200px">
    <span *ngIf="isFieldValid('description')" style="color:red">*Description is mandatory</span>
    <input formControlName="description" placeholder="Description"/></td>

  <td width="200px">
      <span *ngIf="isFieldValid('imageUrl')" style="color:red">*ImageUrl is mandatory</span>
      <input formControlName="imageUrl" placeholder="ImageUrl"/></td>

  <td width="50px">
    <button type="submit" [disabled]="!movieForm?.valid">
    submit
</button></td>
<td width="30px">{{movieForm?.valid}}</td>


  
  
  </form>
  </div>
