<img src = "../../../assets/images/home-background.jpg">

<div class= "container py-5 contact-overlay">

<section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div  class="card py-4 h-100">
            <div class="card-body text-center">
              <i id = "light-grey" class="fas fa-map-marked-alt"></i>
              <h4 id = "blue" class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div id = "light-grey" class="small">Via Bettega 12, 38018 Molveno (Tn), Italia
                  </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div  class=" card py-4 h-100">
            <div class="card-body text-center">
              <i id = "light-grey" class="fas fa-envelope"></i>
              <h4 id = "blue" class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div id = "light-grey" class="small">molveno.lake.resort@gmail.com</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div  class="card py-4 h-100">
            <div class="card-body text-center">
                <i id = "light-grey" class="fas fa-link"></i>
              <h4 id = "blue" class="text-uppercase m-0">Website</h4>
              <hr class="my-4">
              <div id = "light-grey" class="small">Molveno Lake Resort</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>
</div>