img {
    width: 100%;
    margin: 0px;
}

#customize-body.bg-dark.container-fluid {
    width: 100%;
    padding-right: 0px ;
    padding-left: 0px ;
    margin-right: 0px ;
    margin-left: 0px ;
}

.home-button {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);


}

h1 {
    font-size: 72px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/* .masthead h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }
   */
